.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    text-transform: capitalize;
    color: #fff;
    margin-bottom: .25rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

li.pokemon {
    cursor: pointer;
}

#modalDetailContainer {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-content {
    z-index: 11;
    position: relative;
    display: flex;
    flex-direction: row;
    min-width: 400px;
    max-width: 550px;
    padding: 1em;
    background-color: white;
    border-radius: 1rem;
}

.detail-content .close-button {
    position: absolute;
    background-color: #e0e0e0;
    color: #000;
    border-radius: 50%;
    top: 1em;
    right: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.75em;
    width: 1.75em;
    overflow: hidden;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border: thin solid black;
}

.detail-content .close-button span {
    transform: rotate(45deg);
    font-size: 1.5em;
}

.detail-content .close-button:hover {
    background-color: #d0d0d0;
}

.detail-content .pokemon {
    width: 100%;
}

.detail-content .name-image {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.detail-content .pokemon-name {
    color: white;
    font-size: 1.5em;
    text-transform: capitalize;
    align-self: center;
}

.detail-content .pokemon-photo {
    margin-left: 1em;
    height: 100px;
    width: auto;
}

.detail-content .detail-info {
    margin-top: 0.75em;
    font-size: 1em;
    font-weight: 300;
    color: #f0f0f0;
}

.detail-content .detail-name {
    font-weight: bold;
    font-style: italic;
    color: white;
}

.detail-content .detail-info ul {
    padding-left: 0;
    list-style-type: none;
}

.detail-content .detail-info .side-info {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.detail-content .detail-info .side-info > :not(:first-child) {
    margin-left: 0.75em;
}

.detail-content .detail-info .side-info .types {
    display: flex;
    flex-direction: row;
}

.detail-content .detail-info .side-info .types > :not(:first-child) {
    margin-left: 0.75em;
}

.detail-content .detail-info ul.list-stat {
    padding-left: 20px;
    list-style: disc;
}

.detail-content .detail-info ul.list-stat li {
    font-size: 0.85em;
}

.detail-content .detail-info ul.list-stat .stat-name {
    font-weight: bold;
    text-transform: uppercase;
}